.header {
  @media screen and (width < 48em) {
    padding: 15px 20px;
  }

  @media screen and (width >= 48em) and (width < 64em) {
    padding: 20px 40px;
  }

  @media screen and (width >= 64em) {
    padding: 20px 40px;
  }

  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: #6b4e71;
  position: fixed;
  z-index: 2;

  &Logo {
    display: flex;
    align-items: center;

    &Title {
      display: none;

      @media screen and (width >= 64em) {
        display: block;
        margin-left: 30px;
        color: #fff7f7;
        font-size: 1.2rem;
      }
    }
  }

  &Nav {
    /* - */
    &Menu {
      display: flex;

      /* - */
      &Item {
        margin-left: 20px;

        @media screen and (width >= 48em) and (width < 64em) {
          margin-left: 40px;
        }

        > a {
          color: #fff7f7;

          @media screen and (width >= 48em) and (width < 64em) {
            font-size: 1.5rem;
          }

          &:hover,
          &:focus {
            color: #ffc4c4;
          }
        }
      }
    }
  }
}

.main {
  /* - */
  &Hero {
    background-color: #6b4e71;

    @media screen and (width >= 48em) and (width < 64em) {
      padding: 140px 0 100px;
    }

    @media screen and (width >= 64em) {
      padding: 160px 20px 120px;
    }

    &Container {
      @media screen and (width >= 48em) and (width < 64em) {
        display: flex;
        align-items: center;
      }

      @media screen and (width >= 64em) {
        display: flex;
        align-items: center;
      }
    }

    &Highlight {
      color: #fff7f7;

      @media screen and (width >= 48em) and (width < 64em) {
        width: 60%;
      }

      @media screen and (width >= 64em) {
        width: 70%;
        padding-left: 80px;
      }

      &Links {
        /* stylelint-disable-next-line no-descending-specificity */
        a {
          color: #fff7f7;

          &:hover,
          &:focus {
            color: #ffc4c4;
          }
        }

        p {
          font-size: 1.2rem;
          margin-bottom: 20px;

          /* stylelint-disable-next-line no-descending-specificity */
          > a {
            text-decoration: underline;
          }

          > br {
            display: inline;
          }
        }
      }
    }

    &ImgWrapper {
      display: none;

      @media screen and (width >= 48em) and (width < 64em) {
        display: block;
        padding-left: 40px;
      }

      &--tablet {
        border-radius: 50%;
      }

      @media screen and (width >= 64em) {
        display: block;
        padding-left: 40px;
        width: 30%;
      }
    }
  }

  &Works {
    background-color: #fff7f7;
    padding: 80px 0;

    @media screen and (width >= 64em) {
      padding: 120px 0;
    }

    &Item {
      margin-bottom: 50px;

      @media screen and (width >= 48em) and (width < 64em) {
        display: flex;
        align-items: center;
        margin: 0 -30px 50px;

        &:nth-child(2) {
          flex-direction: row-reverse;
        }
      }

      @media screen and (width >= 64em) {
        display: flex;
        align-items: center;
        margin: 0 -60px 100px;

        &:nth-child(2) {
          flex-direction: row-reverse;
        }
      }

      &:last-child {
        margin-bottom: 50px;
      }

      &ImgWrapper {
        @media screen and (width >= 48em) and (width < 64em) {
          width: 50%;
          padding: 0 30px;
        }

        @media screen and (width >= 64em) {
          padding: 0 60px;
        }
      }

      &Img {
        margin-bottom: 40px;

        &Inner {
          border-radius: 5px;
        }

        &--primary {
          box-shadow:
            1px 1px 10px rgb(0 0 0 / 15%),
            10px 10px 0 #53687e;
        }

        &--secondary {
          box-shadow:
            1px 1px 10px rgb(0 0 0 / 15%),
            10px 10px 0 #6b4e71;
        }
      }

      &Text {
        @media screen and (width >= 48em) and (width < 64em) {
          width: 50%;
          padding: 0 30px;
        }

        @media screen and (width >= 64em) {
          padding: 0 60px;
        }

        & p:last-of-type {
          margin-bottom: 30px;
        }
      }
    }
  }

  &About {
    padding: 80px 0 60px;

    @media screen and (width >= 48em) and (width < 64em) {
      padding: 100px 0;
    }

    @media screen and (width >= 64em) {
      padding: 120px 0;
    }

    &Container {
      @media screen and (width >= 48em) and (width < 64em) {
        display: flex;
      }

      @media screen and (width >= 64em) {
        display: flex;
      }
    }

    &Img {
      display: flex;
      justify-content: center;
      margin-bottom: 40px;

      &--mobil {
        border-radius: 50%;
      }

      &--me {
        display: none;

        @media screen and (width < 48em) {
          display: block;
        }
      }

      &--about {
        display: block;

        @media screen and (width < 48em) {
          display: none;
        }

        @media screen and (width >= 64em) {
          margin-bottom: 100px;
        }
      }
    }

    &Description {
      margin-bottom: 30px;

      @media screen and (width >= 48em) and (width < 64em) {
        width: 50%;
        margin-right: 50px;
        margin-bottom: 0;
      }

      @media screen and (width >= 64em) {
        width: 50%;
        margin-right: 50px;
        margin-bottom: 0;
      }
    }

    &Addition {
      @media screen and (width >= 48em) and (width < 64em) {
        width: 50%;
      }

      &Skills {
        margin-bottom: 30px;

        @media screen and (width >= 64em) {
          display: flex;
        }

        & ul {
          margin-bottom: 10px;
          padding-left: 20px;
          list-style: disc;

          @media screen and (width >= 64em) {
            margin-bottom: 0;
          }
        }

        @media screen and (width >= 64em) {
          & ul + ul {
            margin-left: 30px;
          }
        }

        & li {
          margin-bottom: 10px;
        }
      }

      &Follow {
        /* - */
        &Icon {
          color: #c2b2b4;
        }
      }
    }
  }
}

.footer {
  padding: 60px 0 10px;
  background-color: #3a4454;
  color: #fff7f7;

  @media screen and (width >= 48em) and (width < 64em) {
    padding: 100px 0;
  }

  @media screen and (width >= 64em) {
    padding: 120px 40px;
  }

  &Container {
    @media screen and (width >= 48em) and (width < 64em) {
      display: flex;
      flex-direction: row-reverse;
      align-items: flex-end;
      justify-content: space-between;
    }

    @media screen and (width >= 64em) {
      display: flex;
      flex-direction: row-reverse;
      padding-left: 80px;
      padding-right: 80px;
    }
  }

  &Form {
    margin-bottom: 80px;

    @media screen and (width >= 48em) and (width < 64em) {
      width: 50%;
      margin-bottom: 0;
    }

    @media screen and (width >= 64em) {
      width: 40%;
    }

    & form {
      width: 100%;

      @media screen and (width >= 64em) {
        display: flex;
        flex-wrap: wrap;
      }
    }

    &Input {
      margin-bottom: 10px;
      width: 100%;
      position: relative;

      @media screen and (width >= 64em) {
        width: 49%;
      }

      &Icon {
        position: absolute;
        top: 12px;
        left: 16px;
        color: #fff7f7;
      }

      & input {
        width: 100%;
        background-color: transparent;
        border: 1px solid #c2b2b4;
        border-radius: 5px;
        color: #fff7f7;
        padding: 10px 15px 10px 40px;

        &::placeholder {
          color: #9c9da5;
        }

        &:hover,
        &:focus {
          background-color: rgb(0 0 0 / 10%);
        }

        &:focus-visible {
          outline: 1px solid #c2b2b4;
          border: 1px solid #c2b2b4;
        }
      }
    }

    &Input + &Input {
      @media screen and (width >= 64em) {
        margin-left: 2%;
      }
    }

    &TextArea {
      margin-bottom: 20px;
      width: 100%;

      @media screen and (width >= 48em) and (width < 64em) {
        margin-bottom: 30px;
      }

      & textarea {
        width: 100%;
        background-color: transparent;
        border: 1px solid #c2b2b4;
        border-radius: 5px;
        color: #fff7f7;
        height: 150px;
        padding: 10px 15px;
        resize: none;

        &::placeholder {
          color: #9c9da5;
        }

        &:hover,
        &:focus {
          background-color: rgb(0 0 0 / 10%);
        }

        &:focus-visible {
          outline: 1px solid #c2b2b4;
          border: 1px solid #c2b2b4;
        }
      }
    }
  }

  &Info {
    display: flex;
    align-items: center;
    flex-direction: column;

    @media screen and (width >= 48em) and (width < 64em) {
      width: 50%;
      align-items: flex-start;
      margin-top: 0;
    }

    @media screen and (width >= 64em) {
      width: 60%;
      align-items: flex-start;
      margin-top: 0;
    }

    &Nav {
      margin-bottom: 40px;
      display: flex;
      align-items: baseline;

      &Menu {
        & ul {
          display: flex;
        }

        & li {
          margin-left: 20px;
        }

        /* stylelint-disable-next-line no-descending-specificity */
        & a {
          color: #fff7f7;
          font-size: 1.2rem;
          font-weight: 700;

          &:hover,
          &:focus {
            color: #9c9da5;
          }
        }
      }
    }

    &Follow {
      margin-bottom: 40px;

      @media screen and (width >= 48em) and (width < 64em) {
        margin-bottom: 140px;
      }
    }

    &Copy {
      color: #9c9da5;

      @media screen and (width >= 48em) and (width < 64em) {
        margin-bottom: 0;
      }
    }
  }
}

.container {
  max-width: 1280px;
  margin: 0 auto;

  @media screen and (width < 48em) {
    padding: 0 20px;
  }

  @media screen and (width >= 48em) and (width < 64em) {
    padding: 0 40px;
  }
}

.button {
  display: inline-block;
  padding: 10px 15px;
  border: none;
  border-radius: 3px;
  color: #fff7f7;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 1px;
  text-decoration: none;

  &--primary {
    background-color: #53687e;

    &:focus,
    &:hover {
      background-color: #495b6f;
    }
  }

  &--secondary {
    background: #6b4e71;

    &:focus,
    &:hover {
      background-color: #5d4462;
    }
  }
}

.socialLinks {
  display: flex;
  flex-wrap: wrap;
  font-size: 2rem;

  // liの最初 以外
  li + li {
    margin-left: 20px;
  }
  // li:not(:last-child) {
  //   margin-right: 20px;
  // }

  &Icon {
    color: #c2b2b4;
  }
}
